body{
    font-family: "Roboto";
    background-image: url(study.jpg);
    background-size: cover;
}

.studys{
    color:rgba(239, 204, 7, 0.951);
    font-size: 110px;
    text-align: center;
    text-shadow: 0 0 10px #00ffbbb7, 0 0 10px #2703f4; 
    line-height: 50px;
}

a{
    font-family: Arial;
    font-size: 100px;
    line-height: 180px;
}

.cn{
    text-align: center;
    color:chocolate;
}

.en{
    text-align: center;
    color:rgba(24, 92, 187, 0.615);
}

.math{
    text-align: center;
    color:rgb(210, 186, 30);
}